.speedDial {
  position: fixed;
  right: 3vmax;
  top: 1vmax;
}
.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.logoReactNavbar {
  border-radius: 100%;
  transition: all 0.5s;
}
.logoReactNavbar:hover {
  border-radius: 1px solid tomato;
}

@media screen and (max-width: 600px) {
  .speedDial {
    right: 5vmax;
    top: 4vmax;
  }
}
